@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow:ital,wght@1,200&family=Bebas+Neue&family=Nanum+Gothic&family=Offside&family=Peralta&family=Rammetto+One&family=Roboto+Mono:ital,wght@0,100;1,200;1,464&family=Source+Serif+Pro:wght@200&display=swap');
body{
    background-image: url(image/CS.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    font-weight: bolder;
    color: rgb(238, 255, 0);
}
@media(max-width:858px){
    body{
        background-repeat: repeat-y;
    }
}
nav{
    list-style: none;
    color: white;
    margin-top: 1rem;
}
#wh{
    margin: 66px 0px;
}
.Nam{
    margin: 15px;
}
.mail{
    margin: 15px;
}
.SMS{
    margin: 15px;
}
.sub{
    margin: 15px;
}
#inputs{
    
    color: red;
}
#inputs input[type="text"],[type="email"]{
    height: 20px;
    width: 25%;
}

textarea{
    width: 50%;
}
h1{
    font-family: 'Peralta', cursive;
}
h2{
    margin: 1px 1px;
}
button{
    width: 49%;
    padding: 8px 10px;
    cursor: pointer;
    /* margin: 15px 206px */
}
button:hover{
    background-color:rgb(140, 140, 204) ;
    transform: scale(1.1);
}