html{
	font-size: 62.5%;
}
body{
    background-color: rgb(77, 77, 167);
    animation: lop 10s infinite;
}
@keyframes lop {
	0% {
		background-color: rgb(77, 77, 167);
	}
	25% {
		background-color: rgb(219, 38, 159);
	}
	50% {
		background-color: rgb(0, 255, 85);
	}
	75% {
		background-color: rgb(179, 39, 39);
	}
	100% {
		background-color: rgb(77, 77, 167);
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
}

/* header {
	position: sticky;
	z-index: 10;
	top: 0rem;
	background-color: rgb(253, 236, 0);
	padding: 1.3rem;
}
.checkbtn{
	font-size: 3rem;
	color: white;
	float: right;
	line-height: 8rem;
	margin-right: 4rem;
	padding: 10px;
	z-index: 101;
	cursor: pointer;
	/* display: none; */
}

nav {
	display: flex;
	align-items: center;
	background-color: blue;
}
ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 3.0rem;
}
li {
	font-family: "Bebas Neue", cursive;
	font-size: 3.4rem;
	list-style: none;
	padding: .2rem 1.4rem;
}

li a {
    display: block;
	background-color: yellow;
	color: black;
	text-decoration: none;
	border: 3px solid rgb(255, 0, 0);
	font-family: "Barlow", sans-serif;
	font-size: 2.1rem;
	border-radius: 1.5rem;
	padding: 1.1rem;
}
li a:hover {
	background-color: red;
	transform: scale(1.2);
}

.login {
	margin-left: auto;
	margin-right: 2.0rem;
}

.login a {
	border: 3px rgb(255, 38, 0) solid;
	color: black;
	text-decoration: none;
    display: block;
    padding: 0px 1.0rem;
	background-color: rgb(72, 255, 0);
	font-family: cursive;
	font-size: 2.5rem;
}
.login a:hover {
	background-color: rgb(0, 255, 234);
	transform: scale(1.2);
}
.logo{
    height: 8.0rem;
}

.logo img {
	height: 100%;
	width: 13.0rem; */
}
#container{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.box{
    display: inline-table;
    height: 40.0rem;
    width: 32.0rem;
    border: .2rem solid rgb(255, 0, 0);
    background-color: yellow;
    margin: .3rem .3rem;
}
.box img{
    width: 29.0rem;
    height: 18.0rem;
    padding: .3rem 0rem;
}
p{
    margin: .2rem .2rem;
	font-size: 1.6rem;
}
.two{
    display: flex;
    justify-content: center;
	flex-wrap: wrap;	
    margin: .5rem .5rem;
    
}
